# Streamlit app
streamlit

# LangChain core & extensions
langchain==0.1.16
langchain-core==0.1.45

langchain-groq
langchain-community

# Vector DB & Embeddings
faiss-cpu
sentence-transformers
transformers
tiktoken

# File parsing
pypdf
PyMuPDF
docx2txt
requests

# ML Backend 
tf-keras

sentence-transformers
torch

